<div id="legend">
  <legend class="">アルバム一覧</legend>
</div>

<div class="row">
  <div class="col-lg-12">
    <div class="tree-menu demo" id="tree-menu">
      <%= @html_content %>
    </div>
  </div>
</div>

