// Place all the styles related to the Employees controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#photo-coner-check-box .checkbox-inline input[type=checkbox] {
    width: 20px;
    height: 20px;
    vertical-align: middle;
    -moz-transform-origin: right bottom;
    -moz-transform: scale(1.5, 1.5);
}
