
<div id="legend">
  <legend class="">コミケ用CSV変換</legend>
</div>

<div class="row">
  <div class="col-lg-6 col-md-6 col-sm-6" style="padding-bottom: 10px;">
    
    <p>Webカタログから出力されたcsvファイルを指定してください</p>

    <%= form_tag(comiketcsv_post_path(id: current_employee.id), method: "POST", multipart: true) do |f| %>
      <div class="form-group" style="width:400px;">
	<div class="input-group">
	  <input type="file" id="file_input" name="target_comiket_csvfile" style="display: none;">
	  <span class="input-group-btn">
            <button class="btn btn-default" type="button" onclick="$('#file_input').click();"><i class="glyphicon glyphicon-folder-open"></i></button>
	  </span>
	  <div class="input-group">
            <input id="dummy_file" type="text" class="form-control" placeholder="select file..." disabled>
	  </div>
	</div>
      </div>
      <button type="submit" name="csv_up" class="btn btn-primary">変換</button>
    <% end %>
    
    <script type="text/javascript">
      $(function(){
      $('#file_input').change(function() {
      $('#dummy_file').val($(this).val());
      });
      })
    </script>
    
    <h3>注意点：読んでください</h3>
    <textarea cols=100 rows=70>
発注 集計 操作者 作業内容
①発注者カタロム、WebカタロムからCSVをダウンロードする
②発注者CSVを「うｐルンです」の機能を用いて、整形できるフォーマットへコンバートする
③発注者コンバートしたCSVに対して、修正を加える
1.複数オーダするときは発注数を増やす
2.単価や新刊が分かっている場合は情報を埋める
3.落選など不要なサークルなどは除外する
4.追加サークルがあるときは、フォーマットを遵守し追加する
！！！半角全角大文字小文字に注意すること！！！
④発注者生成したデータをGoogleドキュメントへ貼り付ける
※その際に、コンバート元のCSVを東村宛に送付する
⑤編集者CSVを結合し、集計する
⑥編集者ドキュメント上でアイテムや単価の情報整備及びサークルの削除、数の追加等を行う
複数アイテムがあるときは、備考欄に入力する
⑦編集者リスト上に存在しないサークルを追加するときは、当該サークルの情報について②～④の手順を再度実施する
⑧編集者前日の段階で、ドキュメントのデータを加工し、購入リストを作成する

導線割当
①編集者東村に提出された元CSVをカタロムへ流し込み地図データを生成
②編集者曜日ごとにソートし、シートを分割する
③編集者配置スペースをキーとし、重複数の判定を行う（オーダー数が分かる）
→同じ人から2行同じサークルがあると、オーダー数が2としてカウントされる
④編集者導線の割当を行う
1.地図をスクリーンに投影する
2.地区曜日別リストを印刷し、導線別に手書きで記録する
3.記録内容をGoogleドキュメントに反映させる
⑤編集者配置スペースに対してウェイトと発注総数を算出し、リスト間の重軽を調整する


購入指示書の出力
①編集者購入者別にソートされたデータを生成する
②編集者発注者の情報を1つのセルに集約する
③編集者単価情報を元に、リスト別の想定金額を算出する
④編集者サークル毎に、リスト上の通し番号を与える
※フォーマットは5桁数字とし、他のフォーマットと誤認しないようにする
⑤編集者出来たデータを印刷する
⑥編集者地区別全リストを縮尺印刷し、配布する

中央銀行への課金と交付金の受領
①発注者ドキュメント上で想定発注金額を計算する
②発注者想定発注金額に近い金額を中央銀行へ課金する
※少額の場合は不要。大口発注者は想定金額よりも大きい金額を課金する
③購入者購入リスト配分の段階で、想定購入金額を踏まえて交付金を請求し、受領する
④精算窓口課金と交付金は、分配精算のタイミングで相殺され、最終的な精算金額を導く（後述）

分配精算
①発注者単価やアイテムに関する情報をドキュメントに事前入力する
②購入者当日の状況を反映した情報に更新する
③購入者購入者はドキュメントの自動計算と購入指示書に記録した手計算の結果を照合し、計算ミスがないことを確認する
→アイテム現物の照合は省略し、データ上のみの確認とする
→窓口担当者はpc1台用意することが必要
→数不足などの判断に迷うものはこの段階で対応する
④精算窓口上記を確認の上で、購入物を回収する
⑤購入者購入者は仕訳補助員とともに購入物を発注者別に仕訳する
⑥精算窓口全員の購入精算が完了したことを確認し、発注者別の精算へ移る

⑦精算窓口発注者毎にソートした納品精算書を出力する
⑧精算窓口入力された情報を元にエクセル上にて精算金額を確定する
⑨精算窓口中央銀行に事前課金された金額及び購入した金額。交付金額を計算し、最終的な精算額を確定させる
⑩発注者入力が完了した段階で、中央銀行と生協組合員との間で現金の授受を行う
※仕訳の終了を待たない
⑪発注者納品精算書を受領し、発注者の責任で金額の確認を行い、相違があった場合は都度修正を行う
⑫発注者仕訳完了品を受領し、発注者の責任で検品を行い、相違があった場合は都度修正を行う


分配時ルール
①大口発注者は、納品用ダンボールを設置し、運用する
②発注者の袋は、五十音順等の覚えやすい並べ方を用いる
③袋や箱の位置は、2日間で変更しない
④不在者は事前に代理人を選定し、委任する
    </textarea>
    
  </div>
</div>
