<div id="legend">
  <legend class="">コミケ用ツール</legend>
</div>

<div role="tabpanel">
  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active">
      <a href="#comiket_csv_upload" aria-controls="comiket_csv_upload" role="tab" data-toggle="tab">CSVのファイルアップロード</a>
    </li>
    <li role="presentation">
      <a href="#comiket_list" aria-controls="comiket_list" role="tab" data-toggle="tab">アップロードしたリスト (<%= @list.size %>
        )</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="comiket_csv_upload">
      <div class="col-lg-6 col-md-6 col-sm-6" style="padding-bottom: 10px;">
        <h3 style="color: #FF0000">C100対応版 (2022/7/30更新)</h3>
        <a href="https://comiket.upfg.net">comiket.upfg.netへ移動</a>
      </div>
    </div>
  </div>
</div>
