<ul class="pagination">
  <% locals[:pages_count].times do |i| %>
    <% if locals[:current_page] == i %>
      <li class="active"><%= link_to(i, params.merge(page: i), class: "btn btn-default") %></li>
    <% else %>
      <li>
	<%= link_to(i, params.merge(page: i), class: "btn btn-default") %>
      </li>
    <% end %>
  <% end %>
</ul>
